{% extends 'home/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row my-3 p-3">
        {% for prof in profiles %}
        {% if prof.profile_picture %}
        <img class="rounded-circle account-img" src="{{prof.profile_picture.url}}"
            style="cursor:pointer; width: 75px; height: 75px;" class="thumbnail">
        <h3>{{user.username}}</h3>
        {% endif %}
    </div>
    {% if prof.projects %}
    <div class="col">
        <img src="{{prof.projects.image.url}}">
        <h4>{{prof.projects.title}}</h4>
        {% else %}
        <p>{{user.username}} has not posted any projects yet</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% if user_form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
        {% for key, value in user_form.errors.items %}
        <strong>{{value}}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="form-content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row p-4">
            <div class="col-md-5 ">
                <div class="form-group">
                    {% bootstrap_form user_form %}
                </div>
                <div class="form-group">
                    {% bootstrap_form profile_form %}
                </div>
            </div>
        
        <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
        <button type="reset" class="btn btn-primary btn-sm">Reset</button>
    </div>
</form>
</div>

{% endblock %}