{% extends 'home/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
{{ block.super }}

<div class="container-fluid">
    <div class="row row-cols-sm-1-md-2;" style="background-color: #9DA3A4;">
        {% for post in projects %}
        <div class="col mb-2 p-3">
            <div class="card" style="width: 20rem; height: 40rem; background-color: #FFDBDA;">
                <img src="{{ post.image.url}}" class="card-img-top" alt="{{post.title}}" style="width:20rem; height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for prof in profiles %}
                    <li class="list-group-item"><img class="rounded-circle account-img"
                            src="{{prof.profile_picture.url}}" style="cursor:pointer; width: 30px; height: 30px;"
                            class="thumbnail"> By {{post.editor | capfirst}}</li>                    
                    <li class="list-group-item">Contact: {{prof.contact}}</li>
                    {% endfor %}
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">{{post.link}}</a>
                </div>
            </div>

            
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}