<nav class="navbar navbar-expand-lg" style="background-color: #D5C5C8; padding-top:1px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home/' %}"
            style="font-family: 'Pattaya', sans-serif; letter-spacing: 1px; font-size: 1.2rem; padding: 0.5rem; color:black"><span><i
                class="fa-solid fa-award fa-xl" style="color:red"></i></span> COMPIT</a>
        <button class="navbar-toggler btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" label="Menu">
            <span><i class="fa-solid fa-circle-chevron-down fa-xl fa-bounce" style="color: white;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size:0.8rem;">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home/' %}" style="color: green;"><span><i
                                class="fa-solid fa-house-user"></i></span> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add post' %}" style="color: green;"><span><i class="fa-solid fa-images"></i></span> Submit Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user profile' %}" style="color: green;"><span><i class="fa-solid fa-user"></i></span>
                        Member Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" style="color: red;"><span><i class="fa-solid fa-power-off"></i></span>
                        Logout</a>
                </li>
            </ul>
            <form class="d-flex gap-1" role="search" action="{% url 'search results' %}">
                <input class="form-control me-2 " type="text" placeholder="Search by Image Name" aria-label="Search"
                    name="project">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>